.experience{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    gap: 1rem;
    color: var(--cor-de-letra);
    padding: 1rem 0;
}

.experience__title{
    text-align: center;
    /* margin: 0; */
}

.experience__card{
    margin: 15px 0;
    background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.logo{
    width: 64px;
    height: 64px;
}

@media screen and (max-width: 768px) {
    .experience{
        width: 90%;
    }
    
}