<section class="menu">
    <header class="menu__header">
        <img src="../assets/images/vector.png">
        <h3 class="menu__title">{{miPorfolio.nombre}}</h3>
    </header>
    <nav>
        <ul class="menu__list">
            <li class="menu__list__item"><a href="#sobre-mi">Sobre mi</a></li>
            <li class="menu__list__item"><a href="#skills">Skills</a></li>
            <li class="menu__list__item"><a href="#formacion">Formación</a></li>
            <li class="menu__list__item"><a href="#xp">Proyectos</a></li>
            <li class="menu__list__item"><a href="#contacto">Contacto</a></li>
            <li class="menu__list__item log"><button mat-button (click)="openDialog()">Login</button></li>
        </ul>
    </nav>
</section>
