/*Sección Menu*/
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding: 16px 0;
    color: var(--cor-de-letra);
}

.menu__header{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu__image{
    width: 150px;
}

.menu__title{
    margin-left: 0.6rem;
    margin-bottom: 0;   
}

@media screen and (max-width: 768px) {

    .menu{
        width: 90%;
    }

    .nav-item{
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .menu__image{
        width: 100px;
    }
}