<section class="experience" id="xp">
    <h2 class="experience__section__title">Proyectos</h2>
    <div class="experience__box">
        <!-- Agregar logo/captura de pantalla del proyecto -->
        <img class="experience__img" src="../assets/images/decod_print.png">
        <div class="experience__info">
            <h2 class="experience__title">Encriptador de texto</h2>
            <h3 class="experience__text">Challenge Alura Codificador </h3>
            <div class="experience__description">
                <!-- Enlace del proyecto en Github o GithubPages -->
                <span class="experience__repo"><a
                        href="https://github.com/alura-challenges/challenge-one-encriptador-latam" target = _blank ><button
                            class="experience__boton--repo">Repositório</button></a></span>
                <span class="experience__demo"><a href="" target = _blank ><button class="experience__boton--demo">Ver
                            demo</button></a></span>
            </div>
        </div>
    </div>

    <div class="experience__box">
        <!-- Agregar logo/captura de pantalla de tu proyecto -->
        <img class="experience__img" src="../assets/images/forca_print.png">
        <div class="experience__info container">
            <h2 class="experience__title">Juego creado con HTML y JavaScript</h2>
            <h3 class="experience__text">Challenge Oracle </h3>
            <div class="experience__description">
                <!-- Enlace del proyecto en Github o GithubPages -->
                <span class="experience__repo"><a
                        href="https://github.com/alura-challenges/challenge-one-juego-ahorcado" target = _blank ><button
                            class="experience__boton--repo">Repositório</button></a></span>
                <span class="experience__demo"><a href="" target = _blank ><button class="experience__boton--demo">Ver
                            demo</button></a></span>
            </div>
        </div>
    </div>

    <div class="experience__box">
        <!-- Agregar logo/captura de pantalla de tu proyecto -->
        <img class="experience__img" src="../assets/images/secretcode_print.png">
        <div class="experience__info">
            <h2 class="experience__title">Encriptador de texto</h2>
            <h3 class="experience__text">Challenge Oracle </h3>
            <div class="experience__description">
                <!-- Enlace del proyecto en Github o GithubPages -->
                <span class="experience__repo"><a href="https://github.com/Leangon/Encriptador-de-texto" target = _blank ><button
                            class="experience__boton--repo">Repositório</button></a></span>
                <span class="experience__demo"><a href="https://leangon.github.io/Encriptador-de-texto/" target = _blank ><button
                            class="experience__boton--demo">Ver demo</button></a></span>
            </div>
        </div>
    </div>

    <div class="experience__box">
        <img class="experience__img" src="../assets/images/forca2_print.png">
        <div class="experience__info container">
            <h2 class="experience__title">Juego creado con HTML, CSS y JavaScript</h2>
            <h3 class="experience__text">Challenge Oracle </h3>
            <div class="experience__description">
                <!-- Enlace del proyecto en Github o GithubPages -->
                <span class="experience__repo"><a
                        href="https://github.com/alura-challenges/challenge-one-juego-ahorcado" target = _blank ><button
                            class="experience__boton--repo">Repositório</button></a></span>
                <span class="experience__demo"><a href="" target = _blank ><button class="experience__boton--demo">Ver
                            demo</button></a></span>
            </div>
        </div>
    </div>
</section>
