<div mat-dialog-content>
    <h1 mat-dialog-title>Editar proyecto</h1>
    <form class="form d-flex flex-column mb-2" class="form" [formGroup]="form" (ngSubmit)="updateProyect($event, data.id)">
  
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nombre del proyecto:</mat-label>
        <input type="text" matInput formControlName="name" placeholder="Ej.: Task List creado con Angular" value=""
          [(ngModel)]="name">
        <mat-icon matSuffix>badge</mat-icon>
        <mat-error *ngIf="Name?.hasError('required')">
          El nombre del proyecto es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Descripción:</mat-label>
        <textarea rows="3" type="text" matInput formControlName="description" placeholder="Ej.:" value=""
          [(ngModel)]="description"></textarea>
        <mat-icon matSuffix>description</mat-icon>
        <mat-error *ngIf="Description?.hasError('required')">
          La descripción es <strong>requerida</strong>
        </mat-error>
        <mat-error *ngIf="Description?.errors && !Description?.hasError('required')">
          Ingrese al menos <strong>15 caracteres</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Url del repositorio</mat-label>
        <input matInput formControlName="urlRepository" placeholder="http:" value="" [(ngModel)]="urlRepository">
        <mat-icon matSuffix>link</mat-icon>
        <mat-error *ngIf="UrlRepository?.hasError('required')">
          La url del repositorio es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Url de la demo</mat-label>
        <input matInput formControlName="urlDemo" placeholder="http:" value="" [(ngModel)]="urlDemo">
        <mat-icon matSuffix>link</mat-icon>
        <mat-error *ngIf="UrlDemo?.hasError('required')">
          La url de la demo es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
  
      <div>
        <label for="image">Seleccione una imagen</label>
        <input type="file" class="form-control" id="imagen" name="imagen"
           (change)="uploadImage($event)"
          accept=".jpg, .png">
      </div>
  
      <mat-dialog-actions class="d-flex justify-content-around buttons">
        <button mat-raised-button color="primary">Guardar</button>
        <button mat-raised-button color="accent" mat-dialog-close routerLink="">Cerrar</button>
      </mat-dialog-actions>
    </form>
  </div>
