<div mat-dialog-content>
    <h1 mat-dialog-title>Agregar educación</h1>
    <form class="form d-flex flex-column mb-2" class="form" [formGroup]="form" (ngSubmit)="onUpdate($event, data.id)">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nombre de Institución:</mat-label>
        <input type="name" matInput formControlName="university" placeholder="Ej.: UTN" [(ngModel)]="university">
        <mat-icon matSuffix>apartment</mat-icon>
        <mat-error *ngIf="University?.hasError('required')">
          El nombre de la institución es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Titulo académico:</mat-label>
        <input type="text" matInput formControlName="title" placeholder="Ej.: Licenciado en sistemas" value="" [(ngModel)]="title">
        <mat-icon matSuffix>supervisor_account</mat-icon>
        <mat-error *ngIf="Title?.hasError('required')">
          El nombre del título es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field color="accent" class="full-width" appearance="fill">
        <mat-label>Seleccione una fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateStart" [(ngModel)]="dateStart">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="StartDate?.hasError('required')">
          La fecha es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field color="accent" class="full-width" appearance="fill">
        <mat-label>Seleccione una fecha de finalización</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="dateEnd" [(ngModel)]="dateEnd">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="EndDate?.hasError('required')">
            La fecha es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
  
      <!-- <mat-form-field appearance="fill" class="full-width">
        <mat-label>Url de la imagen</mat-label>
        <input matInput formControlName="urlImage" placeholder="http:" value="" [(ngModel)]="urlImage">
        <mat-icon matSuffix>link</mat-icon>
      </mat-form-field> -->
  
      <div>
        <label for="image">Seleccione una imagen</label>
        <input type="file" class="form-control" id="imagen" name="imagen" (change)="uploadImage($event)" accept=".jpg, .png">
      </div>
  
      <mat-dialog-actions class="d-flex justify-content-around buttons">
        <button mat-raised-button color="primary">Guardar</button>
        <button mat-raised-button color="accent" mat-dialog-close routerLink="">Cerrar</button>
      </mat-dialog-actions>
    </form>
  </div>

