<div mat-dialog-content>
    <h1 mat-dialog-title>Agregar educación</h1>
    <form class="form d-flex flex-column mb-2" class="form" [formGroup]="form" (ngSubmit)="onAdd($event)">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre de Institución:</mat-label>
        <input type="name" matInput formControlName="university" placeholder="Ej.: UTN" [(ngModel)]="university">
        <mat-icon matSuffix>apartment</mat-icon>
        <mat-error *ngIf="University?.hasError('required')">
          El nombre de la institución es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Titulo académico:</mat-label>
        <input type="text" matInput formControlName="title" placeholder="Ej.: Licenciado en sistemas" value="" [(ngModel)]="title">
        <mat-icon matSuffix>supervisor_account</mat-icon>
        <mat-error *ngIf="Title?.hasError('required')">
          El nombre del título es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <div class="date">
        <mat-form-field color="accent" class="full-width" appearance="outline">
          <mat-label>Fecha de inicio</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateStart" [(ngModel)]="dateStart">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="StartDate?.hasError('required')">
            La fecha es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
        
        <mat-form-field color="accent" class="full-width" appearance="outline">
          <mat-label>Fecha de finalización</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="dateEnd" [(ngModel)]="dateEnd">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="EndDate?.hasError('required')">
              La fecha es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
  
      <div>
        <label for="image">Seleccione una imagen</label>
        <input type="file" class="form-control" id="imagen" name="imagen" formControlName="urlLogo" [ngClass]="{'is-invalid': UrlLogoInvalid, 'is-valid': UrlLogoValid}" (change)="uploadImage($event)" accept=".jpg, .png">
        <div *ngIf="UrlLogo?.errors && UrlLogo?.touched">
          <p *ngIf="UrlLogo?.hasError('required')" class="error">Debe seleccionar una imagen</p>
        </div>
      </div>
  
      <mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false" routerLink="">Cerrar</button>
        <button mat-raised-button color="primary" type="submit">Agregar</button>
      </mat-dialog-actions>
    </form>
  </div>

