.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .action{
    padding: 0;
  }
  button{
    flex: 1;
  }
  
  .date{
    display: flex;
    gap: 1rem;
  }
  