      <!-- Sección del Menú  -->
    <app-menu></app-menu>

      <!-- Sección del Header/Title/Hero -->
    <app-profile></app-profile>

      <!-- Sección sobre mi -->
    <app-about-me></app-about-me>

      <!-- Sección de Skills -->
    <app-skills></app-skills>

      <!-- Sección de Formación académica -->
    <app-education></app-education>

      <!-- Sección de Experiencia Profesional/Proyectos-->
    <app-projects></app-projects>
      <!-- Sección de Contacto -->
    <app-contact></app-contact>

      <!-- Sección de Footer -->
    <app-footer></app-footer>

    <app-btn-goup></app-btn-goup>