<div mat-dialog-content *ngIf="data">
  <h1 mat-dialog-title>Editar Skill</h1>
  <form class="d-flex flex-column mb-2" class="form"  [formGroup]="form" (ngSubmit)="onUpdate($event)">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre de Skill</mat-label>
      <input type="name" matInput formControlName="name" placeholder="Ej.: Spring Boot" [(ngModel)]="name">
      <mat-icon matSuffix>badge</mat-icon>
      <mat-error *ngIf="Name?.hasError('required')">
        El nombre es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Porcentaje de la Skill</mat-label>
      <input type="number" matInput formControlName="percent" placeholder="Ej.: 65" value="" [(ngModel)]="percent">
      <mat-icon matSuffix>percent</mat-icon>
      <mat-error *ngIf="Percent?.hasError('required')">
        El valor es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="Percent?.errors && !Percent?.hasError('required')">
        Solo valores del <strong>0 al 100</strong>
      </mat-error>
    </mat-form-field>

    <div>
      <label for="image">Seleccione una imagen</label>
      <input type="file" class="form-control" id="imagen" name="imagen" [(ngModel)]="urlImage" [ngModelOptions]="{standalone: true}" (change)="uploadImage($event)" accept=".jpg, .png">
    </div>

    <mat-dialog-actions class="action">
      <button type="button" mat-raised-button [mat-dialog-close]="false" routerLink="">Volver</button>
      <button type="submit" mat-raised-button color="primary">Guardar</button>
    </mat-dialog-actions>
  </form>
</div>
