<div mat-dialog-content>
  <h1 mat-dialog-title>Agregar Skill</h1>
  <form class="form d-flex flex-column mb-2" class="form" [formGroup]="form" (ngSubmit)="onAdd($event)">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre de Skill</mat-label>
      <input type="name" matInput formControlName="name" placeholder="Ej.: Spring Boot" [(ngModel)]="name">
      <mat-icon matSuffix>badge</mat-icon>
      <mat-error *ngIf="Name?.hasError('required')">
        El nombre es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Porcentaje de la Skill</mat-label>
      <input type="number" matInput formControlName="percent" placeholder="Ej.: 65" value="" [(ngModel)]="percent">
      <mat-icon matSuffix>percent</mat-icon>
      <mat-error *ngIf="Percent?.hasError('required')">
        El valor es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="Percent?.errors && !Percent?.hasError('required')">
        Solo valores del <strong>0 al 100</strong>
      </mat-error>
    </mat-form-field>

    <div>
      <label for="image">Seleccione una imagen</label>
      <input type="file" class="form-control" id="imagen" name="imagen" formControlName="urlImage" [(ngModel)]="urlImage" [ngClass]="{'is-invalid': UrlImageInvalid, 'is-valid': UrlImageValid}" (change)="uploadImage($event)" accept=".jpg, .png">
      <div *ngIf="UrlImage?.errors && UrlImage?.touched">
        <p *ngIf="UrlImage?.hasError('required')" class="error">Debe seleccionar una imagen</p>
      </div>
    </div>

    <mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false" routerLink="">Cerrar</button>
      <button mat-raised-button color="primary" type="submit">Agregar</button>
    </mat-dialog-actions>
  </form>
</div>
