/** Seccion skill */

.skills, .experience{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    gap: 1rem;
    color: var(--cor-de-letra);
    padding: 1rem 0;
}

.skills__title, .experience__title{
    text-align: center;
    /* margin: 0; */
}

.skills__line {
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;
    gap: 2rem;
    margin: 1rem 0;
}

.skills__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 176px;
    height: 154px;
    padding: 1rem;
}

.skills__img, .skills__name {
    padding: 0.4rem;
}

.ic{
    height: 50px;
    color: red;
}
.experience__card{
    margin: 15px 0;
}

.logo{
    width: 64px;
    height: 64px;
}



@media screen and (max-width: 768px) {
    .skills, .experience{
        width: 90%;
    }

    .skills__box {
        width: 30%;
        height: 114px;
        padding: 0.2rem;
    }
    
}

@media screen and (max-width: 425px) {
.skills__line {
    gap: 0.5rem;
   
}

    .skills__box {
        width: 45%;
        margin: 0.4rem 0;
    }
}