<section class="skills" id="skills">
    <h3 class="skills__title">Skills</h3>
    <div class="skills__line">
      <mat-card class="skills__box" *ngFor="let skill of skillsList">
        <ul>
          <li class="skills__img"><img [src]="skill.urlImage"></li>
          <li class="skills__name">{{skill.name}}</li>
        </ul>
        <mat-progress-bar mode="determinate" value="{{skill.percent}}" color="accent"></mat-progress-bar>
        <div *ngIf="toggleState()" class="icon">
          <button mat-icon-button color="accent" matTooltip="Editar" aria-label="edit icon">
            <mat-icon class="material-symbols-outlined" aria-hidden="false" aria-label="icon" fontIcon="drive_file_rename_outline"></mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Eliminar" aria-label="delete icon">
            <mat-icon class="material-symbols-outlined" aria-hidden="false" aria-label="icon" fontIcon="delete"></mat-icon>
          </button>
        </div>
      </mat-card>
    </div>

    <div *ngIf="toggleState()" class="icon">
      <button mat-icon-button matTooltip="Agregar" color="primary" aria-label="add cirle icon">
        <mat-icon class="material-symbols-outlined" aria-hidden="false" aria-label="icon" fontIcon="add_circle"></mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
</section>