<section class="skills" id="skills">
    <h2 class="skills__title">Skills</h2>
    <div *ngIf="toggleState()" class="icon">
      <button 
      (click)="openDialog()" 
      mat-icon-button 
      matTooltip="Agregar" 
      color="primary" 
      aria-label="add cirle icon">
        <mat-icon 
        class="material-symbols-outlined" 
        aria-hidden="false" 
        aria-label="icon" 
        fontIcon="add_circle"></mat-icon>
      </button>
    </div>
    <div class="skills__line">
      <mat-card class="skills__box" *ngFor="let skill of skillsList">
        <ul class= "skills__list">
          <li class="skills__img"><img [src]="skill.urlImage"></li>
          <li class="skills__name">{{skill.name}}</li>
        </ul>
        <mat-progress-bar mode="determinate" value="{{skill.percent}}" color="accent"></mat-progress-bar>
        <div *ngIf="toggleState()" class="icon">
          <button mat-icon-button color="accent" matTooltip="Editar" aria-label="edit icon"
            (click)="openDialogEdit(skill.id)">
            <mat-icon class="material-symbols-outlined" aria-hidden="false" aria-label="icon"
              fontIcon="drive_file_rename_outline"></mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Eliminar" aria-label="delete icon"
            (click)="delete(skill.id)">
            <mat-icon class="material-icons-two-tone" aria-hidden="false" aria-label="icon" fontIcon="delete_outline">
            </mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
    <mat-divider></mat-divider>
</section>