<section class="skills" id="skills">
    <h3 class="skills__title">Hard Skills</h3>
    <div class="skills__line">
      <mat-card class="skills__box" *ngFor="let skill of skillsList">
        <ul>
          <li class="skills__img"><img [src]="skill.url_img"></li>
          <li class="skills__name">{{skill.nombre}}</li>
        </ul>
        <mat-progress-bar mode="determinate" value="{{skill.porcentaje}}" color="Primary"></mat-progress-bar>
      </mat-card>
    </div>

    <div class="icon">
      <i class="fa-thin fa-circle-plus"></i>
      <i class="fa-thin fa-pen-to-square"></i>
      <i class="fa-thin fa-trash"></i>
    </div>
    <mat-divider></mat-divider>
</section>

<!-- Sección de works -->
<section class="experience" id="experience">
    <h3 class="experience__title">Experiencia laboral</h3>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <mat-card class="experience__card" *ngFor="let experiencia of experienciasList" cdkDrag>
            <ul class="list-unstyled">
                <li class="media d-flex">
                  <img class="mx-3 logo" [src]="experiencia.url_logo" alt="Generic placeholder image">
                  <div class="media-body">
                    <h2 class="mt-0 mb-1">{{experiencia.empresa}}</h2>
                    <h3 class="mb-1">{{experiencia.puesto}}</h3>
                    {{experiencia.descripcion}}
                    <p><time>{{experiencia.start_date}}</time> - <time>{{experiencia.end_date}}</time></p>
                  </div>
                </li>
            </ul>
        </mat-card>
    </div>
    <div class="icon">
      <i class="fa-thin fa-circle-plus"></i>
      <i class="fa-thin fa-pen-to-square"></i>
      <i class="fa-thin fa-trash"></i>
    </div>
    <mat-divider></mat-divider>
</section>


