/* You can add global styles to this file, and also import other style files */
:root {
  --cor-de-fondo:#ffffff;
  --cor-de-link: #000;
  --cor-de-cards: linear-gradient(-131deg, #FCDFE7 0%, #FFE4C7 100%);

  --cor-de-skills: #ffffff;
  --cor-de-letra: #181D31;

  --font-family-body: "Montserrat", sans-serif;
  --font-family-logo: "Pacifico", cursive;
  --font-family-raleway: "Raleway", sans-serif;
}

body {
    background-color: var(--cor-de-fondo);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    /* font-size: 8px; */
}
ol, ul,li {
    list-style: none;
}


button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: var(--cor-de-letra);
    border: none;
    border-radius: 15px;
  }
  
  button:active {
    transform: translateY(4px);
  }

  .none{
    display: none;
  }

  .icon{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem ;
    height: 1.2rem;
    cursor: pointer;
  }
  
img {
 border-style: none;
 max-width: 100%;
}
