/* You can add global styles to this file, and also import other style files */
:root {
  --cor-de-fondo:#ffffff;
  --cor-de-link: #000;
  /* --cor-de-cards: linear-gradient(-131deg, #FCDFE7 0%, #FFE4C7 100%); */

  --cor-de-skills: #ffffff;
  --cor-de-letra: #181D31;
  /* --cor-de-letra: #fff; */
  --font-family-body: "Montserrat", sans-serif;
  --font-family-logo: "Pacifico", cursive;
  --font-family-raleway: "Raleway", sans-serif;
}

ol, ul,li {
    list-style: none;
}

button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: var(--cor-de-letra);
    border: none;
    border-radius: 15px;
  }
  
  button:active {
    transform: translateY(4px);
  }

  .none{
    display: none;
  }

  .icon{
    display: flex;
    justify-content: flex-end;
  }
  
img {
 border-style: none;
 max-width: 100%;
}

::ng-deep   popover-container {
	position: absolute;
  }

  .popover {
    position: absolute;
    top: 0;
    left: 0 ;
  }
  
  .popover-arrow {
    position: absolute;
  }
  
  .tooltip {
    position: absolute;
  }
  
  .tooltip-arrow {
    position: absolute;
  }

  .example-tooltip-red {
    background: #b71c1c;
}

.example-button-row {
  display: flex;
  justify-content: flex-end;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 74, 74, .8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}