<section class="title">
    <div class="title__div">
        <div class="title__container">
            <h2 class="title__bio">{{miPorfolio.titulo}}</h2>
            <h3 class="title__subsection">{{miPorfolio.discription}}</h3>
            <div class="icon">
                <i class="fa-solid fa-pen"></i>
                <i class="fa-solid fa-trash"></i>
            </div>
            <ul class="title__network">
                <!-- Enlaces de redes sociales -->
                <li class="title__network__item"><a href="https://github.com/Leangon" target="_blank">Github <img src="../assets/images/arrow.png"> </a></li>
                <li class="title__network__item"><a href="https://www.linkedin.com/in/leandro-gonza/" target="_blank">Linkedin <img src="../assets/images/arrow.png"></a></li>
                <li class="title__network__item"><a href="https://www.instagram.com/leamgonza/" target="_blank">Instagram <img src="../assets/images/arrow.png"></a></li>
                <li class="title__network__item"><a href="./assets/Leandro González.pdf" target="_blank">Resumen CV <img src="../assets/images/arrow.png"></a></li>
            </ul>
        </div>
        
        <div class="title__img">
            <img class="title__profile" src="../assets/images/lea.jpg">
            <div class="icon">
                <i class="fa-solid fa-pen"></i>
                <i class="fa-solid fa-trash"></i>
            </div>
        </div>
        
    </div>
</section>
