<section class="title">
  <div class="title__div" *ngIf="miPorfolio">
    <div class="title__container">
      <h2 class="title__bio">{{miPorfolio.titulo}}</h2>
      <h3 class="title__subsection">{{miPorfolio.discription}}</h3>
      
      <div *ngIf="toggleState()" class="icon">
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa-thin fa-pen-to-square" data-bs-toggle="collapse"></i>
        </button>
        <button class="btn btn-outline-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa-thin fa-trash"></i>
        </button>
        
      </div>
      <div class="collapse collapse-horizontal" id="collapseExample">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
      </div>
      <!-- Enlaces de redes sociales -->
      <ul class="title__network">
        <li class="title__network__item">
          <a href="https://github.com/Leangon" target="_blank"><i class="fa-brands fa-github"></i>
          </a>
        </li>
        <li class="title__network__item">
          <a href="https://www.linkedin.com/in/leandro-gonza/" target="_blank"><i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
        <li class="title__network__item">
          <a href="https://www.instagram.com/leamgonza/" target="_blank"><i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li class="title__network__item">
          <a href="https://twitter.com/LeandroGonh" target="_blank"><i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li class="title__network__item">
          <a href="https://wa.link/2727e9" target="_blank"><i class="fa-brands fa-whatsapp"></i>
          </a>
        </li>
        <li class="title__network__item">
          <a href="../../../assets/images/LeandroGonzález.pdf" target="_blank"><i class="fa-solid fa-file-arrow-down"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="title__img">
      <img class="title__profile" [src]="miPorfolio.image">
      <div *ngIf="toggleState()" class="icon">
        <i class="fa-thin fa-pen-to-square"></i>
        <i class="fa-thin fa-trash"></i>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</section>
