<section class="title">
  <div class="title__div row" *ngIf="persona">
    <div class="title__container col-xs-12 col-sm-9">
      <h1 class="title__bio">{{persona.title}}</h1>
      <h2 class="title__subsection">{{persona.description}}</h2>
      <!-- Enlaces de redes sociales -->
      <ul class="title__network">
        <li class="title__network__item">
          <a href="https://github.com/Leangon" target="_blank"><i class="fa-brands fa-github"></i>
          </a>
        </li>
        <li class="title__network__item">
          <a href="https://www.linkedin.com/in/leandro-gonza/" target="_blank"><i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
        <li class="title__network__item">
          <a href="https://www.instagram.com/leamgonza/" target="_blank"><i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li class="title__network__item">
          <a href="https://twitter.com/LeandroGonh" target="_blank"><i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li class="title__network__item">
          <a href="https://wa.link/2727e9" target="_blank"><i class="fa-brands fa-whatsapp"></i>
          </a>
        </li>
        <li class="title__network__item">
          <a href="../../../assets/image/LeandroGonzález.pdf" target="_blank"><i class="fa-solid fa-file-arrow-down"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="title__img col-3">
      <img class="img-fluid rounded-circle border border-info imag" src={{persona.urlImage}}>
      <!-- <div *ngIf="toggleState()" class="icon">
        <i class="fa-thin fa-pen-to-square"></i>
        <i class="fa-thin fa-trash"></i>
      </div> -->
    </div>
  </div>
  <mat-divider></mat-divider>
</section>
<section class="about" id="sobre-mi">
  <div class="about__container" *ngIf="persona">
      <h3 class="about__title">About me</h3>
      <p class="about__paragraph">{{persona.aboutMe}}</p>
      <!-- <p class="about__paragraph">{{miPorfolio.about.p2}}</p> -->
      <div *ngIf="isChecked" class="icon">
          <button mat-icon-button matTooltip="Editar" aria-label="Example fab with a heart icon" (click)="openDialogEditPerson(persona.id)">
            <mat-icon class="material-symbols-outlined" aria-hidden="false" aria-label="icon" fontIcon="drive_file_rename_outline"></mat-icon>
          </button>
          <!-- <button mat-icon-button color="warn" matTooltip="Eliminar" aria-label="Example fab with a heart icon">
            <mat-icon class="material-symbols-outlined" aria-hidden="false" aria-label="icon" fontIcon="delete"></mat-icon>
          </button> -->
        </div>
      <mat-divider></mat-divider>
  </div>
</section>