/*Sección Title*/
.title{
    width: 70%;
    margin: 1rem auto;
}

.title__div{
    display: flex;
    justify-content: space-between;
    /* gap: 1.5rem; */
    padding: 1rem 0;
    color: var(--cor-de-letra);
}

.title__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;    
}

.title__bio{
    font-size: 3rem;
    line-height: initial;
}

.title__subsection{
    font-size: 1.1rem;
}

.title__network{
    display: flex;
    gap: 4rem;
    padding: 0;
    margin-bottom: 0;
}

.title__network__item{
    transition: all 300ms ease;
    transform: scale(1);
}

.title__network__item:hover{
    transform: scale(1.5);
    border-color: rgba(0,0,0,0.1);
}

.imag{
    background: #355C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
    font-size: 1.5rem;
    color: #7286D3;
}

/* .title__profile{
    max-width: 350px;
    border-radius: 50%;
} */

/* @media screen and (max-width: 1000px) {
    .title__profile {
     width: 200px;
    }
} */

@media screen and (max-width: 768px) {
  .title__container {
    gap: 0.5rem;
  }

  .title {
    width: 90%;
  }

  .title__bio {
    font-size: 1.5rem;
  }

  .title__subsection {
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
    .title__div{
        flex-direction: column;
        align-items: flex-start;
    }

    .title__network{
        justify-content: space-around;
        gap: 2rem;
    }

    .title__img{
        order: -1;
        padding-bottom: 20px;
    }
}

.about{
    padding: 1rem 0;
    background: var(--cor-de-cards);
    color: var(--cor-de-letra);
}

.about__container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70%;
    margin: auto;
    padding: 0 15rem 0 0;
}

@media screen and (max-width: 1000px) {
    .about__container{
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .about__container{
        width: 90%;
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
    .title__div{
        align-items: center;
    }
}