      <!-- Sección del Menú  -->
<div class="background">
      <app-menu></app-menu>
  
        <!-- Sección del Header/Title/Hero -->
      <app-profile></app-profile>
  
        <!-- Sección de Skills -->
      <app-skills></app-skills>
  
        <!-- Sección de Experience -->
      <app-experience></app-experience>
        <!-- Sección de Formación académica -->
      <app-education></app-education>
  
        <!-- Sección de Experiencia Profesional/Proyectos-->
      <app-projects></app-projects>
  
        <!-- Sección de Contacto -->
      <app-contact></app-contact>
</div>

      <!-- Sección de Footer -->
    <app-footer></app-footer>

    <app-btn-goup></app-btn-goup>
