<app-btn-goup></app-btn-goup>
<!-- Sección del Menú  -->
<div class="background">
  <app-menu></app-menu>
  <!-- Sección del Header/Title/Hero -->
  <app-profile></app-profile>
  <!-- Sección de Formación académica -->
  <app-education></app-education>
  <!-- Sección de Experiencia Profesional/Proyectos-->
  <app-projects></app-projects>
  <!-- Sección de Experience -->
  <app-skills></app-skills>
  <!-- Sección de Contacto -->
  <app-experience></app-experience>
  <!-- Sección de Skills -->
  <app-contact></app-contact>
</div>
<!-- Sección de Footer -->
<app-footer></app-footer>
